<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a routerLink="/tabs/tab1" class="blog-title">
        <span class="primary-text">Maulana Farras</span><span class="secondary-text"> Blog's</span>
      </a>
    </ion-title>
    <ion-buttons slot="end" class="language-button">
      <ion-button (click)="toggleLanguage()">
        {{ currentLanguage === 'id' ? 'EN' : 'ID' }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="biodata-button">
      <ion-button routerLink="/biodata">Biodata</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="showcase-container">
    <div class="gallery-section">
      <h2 class="section-title">{{ translations[currentLanguage].title }}</h2>
      <div class="image-gallery">
        <div class="gallery-scroll">
          <div class="gallery-item" *ngFor="let image of projectImages">
            <img [src]="image.url" [alt]="image.caption" (click)="openImageModal(image)">
            <div class="image-caption">{{image.caption}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- CTA Section -->
    <div class="cta-section">
      <div class="cta-content">
        <h3>{{ translations[currentLanguage].readyToExperience }}</h3>
        <p>{{ translations[currentLanguage].tryOutMessage }}</p>
        <ion-button expand="block" [href]="projectUrl" target="_blank" class="try-btn">
          {{ translations[currentLanguage].launchProject }}
          <ion-icon name="rocket-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<!-- Image Modal -->
<ion-modal 
    [isOpen]="isImageModalOpen" 
    (didDismiss)="closeImageModal()" 
    class="image-preview-modal"
    [backdropDismiss]="true">
    <ng-template>
        <ion-content class="modal-content" (click)="closeImageModal()">
            <div class="modal-image-container">
                <img [src]="selectedImage?.url" [alt]="selectedImage?.caption" class="full-size-image">
                <div class="image-caption" *ngIf="selectedImage?.caption">{{selectedImage?.caption}}</div>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>